.card:hover .imagecard {
    box-shadow: 6px 5px 17px 0 black;
    animation: card 1s ease-in forwards;

}

@keyframes card {
    to {
        transform: translateX(-350px);
    }
}

@keyframes card2 {
    to {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1920px) {


    @keyframes card {
        to {
            transform: translateX(-430px);
        }
    }
}

@media screen and (max-width: 1440px) {


    @keyframes card {
        to {
            transform: translateX(-385px);
        }
    }
}